<!-- _student_row.html.erb -->
<tr id="student-<%= student.id %>">
  <td>
    <% if index > 0 %>
      <%= link_to '⇑', '#', data: { student_id: student.id, prev_student_id: @students[index - 1].id }, class: "btn btn-warning btn-up"  %>
    <% end %>
    <% if index < @students.size - 1  %>
      <%= link_to '⇓', '#', data: { student_id: student.id, next_student_id: @students[index + 1].id }, class: "btn btn-warning btn-down"  %>
    <% end %>
  </td>
  <td><%= student.id %></td>
  <td><%= link_to student.last_name + ' ' + student.first_name, customers_student_path(student), class: "text-decoration-none text-dark fw-bold" %></td>
  <td><%= student.age %></td>
  <td><%= student.address %></td>
  <td><%= student.birthday %></td>
  <td>
    <% if student.deleted? %>
      <%= link_to 'Restore', restore_customers_student_path(student.id), data: {turbo_method: :put, turbo_confirm: 'Restore?'}, class: "btn btn-primary"  %>
    <% else %>
      <%= link_to 'Media', media_customers_student_path(student), class: "btn btn-primary"  %>
    <% end %>
  </td>
</tr>