<h1>Students</h1>
<div class="table-responsive" id="student_table">
  <%= render "customers/students/partial/student_table", students: @students %>
</div>
<div>
  <%= link_to 'New Student', new_customers_student_path, class: "btn btn-primary mb-2" %>
  <%= link_to 'Active Students', customers_students_path, class: "btn btn-primary mb-2" %>
  <%= link_to 'Show Deleted Students', customers_students_path(deleted: true), class: "btn btn-primary mb-2 float-end" %>
</div>
<%= javascript_include_tag "jquery" %>
<%= javascript_include_tag "customer/swap_position_student" %>
