<table class="table mx-auto table-striped table-bordered table-condensed text-center align-middle">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Teacher</th>
      <th scope="col">Age</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% courses.each do |course| %>
      <tr id="<%= dom_id course %>">
        <td><%= course.id %></td>
        <td><%= course.name %></td>
        <td><%= course.teacher.name %></td>
        <td><%= course.teacher.age %></td>
        <td>
          <button type="button"
            class="btn btn-primary edit_course" 
            data-bs-toggle="modal" 
            data-bs-target="#exampleModal"
            data-course-id="<%= course.id %>">
            Edit
          </button>
          <button class="btn btn-warning delete_course" data-course-id="<%= course.id %>" >Delete</button>
          <%# link_to 'Delete Course', 
            customers_course_path(id: course.id, page: courses.current_page ), 
            data: {turbo_method: :delete, confirm: 'Are you sure?' }, 
            class:"btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="d-flex justify-content-end" id="paginate-element">
  <%= paginate courses, theme: 'bootstrap-5',
        params: {controller: 'courses', action: 'index'} %></div>
