<h1 class = "text-center fs-2 fw-bold"><%= @media.student.name %></h1>
<div class="text-center mb-2">
  <% unless @media.nil? %>
    <% if @media.avatar? %>
      <%= image_tag @media.avatar_url, alt: "Student Avatar", class:"rounded img-fluid w-50",style:" height: 300px" %>
    <% end %>
    <% if @media.audio? %>
      <%= audio_tag(@media.audio_url, controls: true) %>
    <% end %>
    <% if @media.video? %>
      <%= video_tag(@media.video_url, controls: true) %>
    <% end %>
  <% end %>
</div>  
<div>
  <%= link_to "Back to students", user_students_path, class:"btn btn-primary mt-2" %>
</div>
